<form method="post" action="{{ path('student_critere_delete', {'id': student_critere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student_critere.id) }}">
    <button class="btn">Delete</button>
</form>
