{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/dashboard.css">
{% endblock %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <center>
        <h1>La classe a été enregistré !</h1>
        <a href="{{ path('user_index') }}" class="back_tolist">back to list</a>
    </center>    
{% endblock %}
